ul.space-y-2 a {
    color: #ffffff;
    text-decoration: none;
    font-family: fantasy;
} /* Footer */
.bg-gray-800 {
  background-color:  #222023;
  
}

.hover\:text-rose-300:hover {
  color: #fda4af;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-700 {
  border-color: #374151;
}

/* Responsive Breakpoints */
@media (min-width: 768px) {
  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
  
  .md\:flex-row {
    flex-direction: row;
  }
  
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.link-btn{
text-decoration: none;
}

.ul.space-y-2 a {
color: #ffffff;
text-decoration: none;

font-family:Arial, Helvetica, sans-serif;
}
.text-xl{
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}
.ul.space-y-2 li{
  font-family:Arial, Helvetica, sans-serif;
}